<button id= "toggle_{{foo}}" onclick="hiddencode('{{ foo }}')">Hide/Show {{ site.data.xml[foo].file }}</button>
<div id="{{ foo }}" style="display:none">
{% capture text-capture %}
{% raw %}
```
<?xml version='1.0' encoding='utf-8'?>
<organize>
<userproj userid = 'karttur' projectid = 'karttur' tractid= 'karttur' siteid = '*' plotid = '*' system = 'ancillary'></userproj>
<period timestep='staticmonthly'></period>

<process processid ='convertdaytomonth' version = '3.0'>
<parameters factor = '0.1' offset = '0' ></parameters>
<overwrite>Y</overwrite>
<delete>N</delete>

<srcpath volume = "OPUS"></srcpath>
<dstpath volume = "OPUS"></dstpath>

<srccomp>
<fao-refet-dayx10 source = "fao" product = "refet" folder = "refet" band = "fao-refet-dayx10" prefix = "fao-refet-dayx10" suffix = "M">
</fao-refet-dayx10>
</srccomp>

<dstcomp>
<fao-refet source = "FAO" product = "refet" folder = "refet" band = "fao-refet" prefix = "fao-refet" suffix = "M" scalefac = "1" offsetadd = "0" dataunit = "mm" celltype = 'Int16' cellnull = '-32768' measure = 'R'>
</fao-refet>
</dstcomp>
</process>
</organize>
```
{% endraw %}
{% endcapture %}
{% include widgets/toggle-code.html  toggle-text=text-capture  %}
</div>