<button id= "toggle_{{foo}}" onclick="hiddencode('{{ foo }}')">Hide/Show {{ site.data.xml[foo].file }}</button>
<div id="{{ foo }}" style="display:none">
{% capture text-capture %}
{% raw %}
```
<?xml version='1.0' encoding='utf-8'?>
<runprocess>
<userproj userid = 'karttur' projectid = 'karttur' tractid= 'karttur' siteid = '*' plotid = '*' system = 'ancillary'></userproj>
<period startyear = "2003" startmonth='01' endyear = "2016" endmonth='12' timestep='M'></period>

<!-- seasonaltrendcorr annual indexes and trends-->
<process processid = 'resampletsancillary' version = '1.3'>
<overwrite>True</overwrite>
<parameters method = 'avg' targettimestep = 'A' ></parameters>
<srcpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></srcpath>
<dstpath volume = "travel" hdrfiletype = 'tif' datfiletype = 'tif'></dstpath>
<srccomp>
<grace-ave source = "NASA-GRACE" product = "cmwater" folder = "cmwater" band = "grace-ave" prefix = "grace-ave" suffix = "RL05-f" timestep='M'>
</grace-ave>
</srccomp>
<dstcomp>
<grace-ave band = "grace-ave" suffix = "RL05-f-A" dataunit = 'mm' timestep='A'>
</grace-ave>
</dstcomp>
</process>


</runprocess>
```
{% endraw %}
{% endcapture %}
{% include widgets/toggle-code.html  toggle-text=text-capture  %}
</div>