<button id= "toggle_{{foo}}" onclick="hiddencode('{{ foo }}')">Hide/Show {{ site.data.xml[foo].file }}</button>
<div id="{{ foo }}" style="display:none">
{% capture text-capture %}
{% raw %}
```
<?xml version='1.0' encoding='utf-8'?>
<movieclock>
<userproj userid = 'karttur' projectid = 'karttur' tractid= 'karttur-trmm' siteid = '*' plotid = '*' system = 'ancillary'></userproj>
<period startyear = "1998"  endyear = "2018" endmonth='07' endday='31' timestep='M'></period>

<!-- Create movie frame and movie -->
<process processid = 'movieclockancillary' version = '1.3'>
<overwrite>False</overwrite>
<parameters name = 'trmm' width = '800' asscript='True'></parameters>
<dstpath volume = "karttur3tb/movieclock" hdrfiletype = 'png' datfiletype = 'png'></dstpath>
<dstcomp>
<trmm-3b43v7-precip id = 'layer3' source = "trmm" product = "3b43" folder = "rainfall" band = "trmm-3b43v7-precip" prefix = "rainfall" suffix = "v7-f">
</trmm-3b43v7-precip>
</dstcomp>
</process>
</movieclock>
```
{% endraw %}
{% endcapture %}
{% include widgets/toggle-code.html  toggle-text=text-capture  %}
</div>