<button id= "toggle_{{foo}}" onclick="hiddencode('{{ foo }}')">Hide/Show {{ site.data.xml[foo].file }}</button>
<div id="{{ foo }}" style="display:none">
{% capture text-capture %}
{% raw %}
```
<?xml version='1.0' encoding='utf-8'?>
<autocorr>
<userproj userid = 'karttur' projectid = 'karttur' tractid= 'karttur-trmm' siteid = '*' plotid = '*' system = 'ancillary'></userproj>
<period startyear = "1998" startmonth='01' endyear = "2017" endmonth='12' timestep='M'></period>

<process processid = 'autocorrelateancillary' version = '1.3'>
<overwrite>False</overwrite>
<parameters nlags = '12' partial='False' resampleseasonal='False' mirror ='6' ></parameters>
<srcpath volume = "karttur3tb" hdrfiletype = 'tif' datfiletype = 'tif'></srcpath>
<dstpath volume = "karttur3tb" hdrfiletype = 'tif' datfiletype = 'tif'></dstpath>
<srccomp>
<trmm-3b43v7-precip  source = "trmm" product = "3b43" folder = "rainfall" band = "trmm-3b43v7-precip" prefix = "rainfall" suffix = "v7-f">
</trmm-3b43v7-precip>
</srccomp>
</process>



<!-- autocorrelate
<process processid = 'autocorrelate' version = '1.3'>
<parameters nlags='12' partial='false' resampleseasonal='false'></parameters>
<srcpath mainpath = "/Volumes/WETLAND/ANCILLARY" scenes = 'false'  division = 'region' hdrfiletype = 'tif' datfiletype = 'tif'></srcpath>
<tarpath mainpath = "/Volumes/WETLAND/ANCILLARY" scenes = 'false' division = 'region' hdrfiletype = 'tif' datfiletype = 'tif'></tarpath>
<compin source = "TRMM" product = "3B43" folder = "rainfall" band = "TRMM-3B43v7-precip" prefix = "rainfall" suffix = "_v7"></compin>
<bandout bandid = "autocorr"></bandout>
<bandoutx bandid = "autocorr" prefix = 'trmm-autocorr' suffix = "_trmm-autocorr" dataunit = 'fraction'></bandoutx>
</process>

<parameters rootprocid ='TimeSeries' subprocid = 'autocorrelateancillary' version ='0.8.0'  minuserstratum = '1'>
<title>Ancillary time-series autocorrelation, outputs as many bands as maximum lags set (nlags) in the paramters</title>
</parameters>

<system>
<procsys system = 'ancillary' srcsystem='ancillary' dstsystem='ancillary' srcdivision = 'region' dstdivision='region'></procsys>
</system>

<node parent = 'process' element = 'parameters'>
<parameter paramid = 'version' paramtyp = 'text' tagorattr = 'Attr' required = 'N' defaultvalue = '1.3' ></parameter>
<parameter paramid = 'nlags' paramtyp = 'integer' tagorattr = 'Attr' required = 'N' defaultvalue = 'Y' ></parameter>
<parameter paramid = 'partial' paramtyp = 'boolean' tagorattr = 'Attr' required = 'N' defaultvalue = 'False' ></parameter>
<parameter paramid = 'resampleseasonal' paramtyp = 'boolean' tagorattr = 'Attr' required = 'N' defaultvalue = 'False' ></parameter>
<parameter paramid = 'mirror' paramtyp = 'integer' tagorattr = 'Attr' required = 'N' defaultvalue = '0' ></parameter>
-->
</aurocorr>
```
{% endraw %}
{% endcapture %}
{% include widgets/toggle-code.html  toggle-text=text-capture  %}
</div>